*{
    background-color:rgb(12, 1, 63);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


img{
    background: #fff;
    border-radius: 17px;
}

.igs-Fnav{
    padding:30px 0;
    position: relative;
    width:100%;
    font-family:'Times New Roman', Times, serif;

}
.igs-nav{
    max-width: 1300px;
    margin: auto;

}

.igs-Fnav .igs-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.igs-Fnav .igs-vavigat li{
    list-style: none;
    display: inline-block;
    
}
.igs-Fnav .igs-vavigat li a{
    font-size: 22px;
    font-weight: 500px;
    margin-left: 0px;
    transition: color 0.3s ease;
    display:block; 
    text-align: center; 
    padding: 14px 9px; 
    text-decoration: none; 
    
}
li {
    float: left;
    
  }
  .igs-irf {
    padding: 7px;  
  }

  /* premiere partie du corps*/

  * {
    box-sizing: border-box;
  }
  
  .igs-header {   
    width:90px;
   margin-left: 850px;
    
  }
  
  
  .igs-cote1 {
    font-size: 30px;
    width: 60%;
    float: left;
    padding: 15px;
    height: 250px;
    padding-right: 30px;
    
  }

  
  
  .igs-main1 {
      font-family: sans-serif;
    float: left;
    padding: 100px;
    height: 300px;
    margin-left: 100px;
    background-color: rgb(60, 66, 95)
    


}
.igs-flex-container .igs-main1 h2{
    margin: 15px;
    background-color: rgb(60, 66, 95)
}
.igs-flex-container .igs-main1 h4{
    margin: 15px;
    background-color: rgb(60, 66, 95)
}
.igs-flex-container .igs-main1 p{
    line-height:2;
    margin: 15px;
    background-color: rgb(60, 66, 95)
}
 
  
  .igs-main2 {
      font-family: sans-serif;
    float: left;
    padding: 100px;
    height: 300px;
    margin-left: 100px;
    background-color: rgb(60, 66, 95)
    
  }

  .igs-flex-containe .igs-main2 h2{
    margin: 15px;
    background-color: rgb(60, 66, 95)
}
.igs-flex-containe .igs-main2 h4{
    margin: 15px;
    background-color: rgb(60, 66, 95)
}
.igs-flex-containe .igs-main2 p{
    line-height:2;
    margin: 15px;
    background-color: rgb(60, 66, 95)
}

  .igs-flex-container {
    display: flex;
  }

  .igs-flex-container .igs-main1{
      float: left;
      margin-left: 400px;
      width: 780px;
      border-radius: 3px ;

    }
    .igs-flex-container .igs-cote1 {
        text-align: center;
    }

  .igs-flex-container > div {
    width: 450px;
    margin: 10px;
    padding: 0px;
   
  }

  

  .igs-flex-containe {
    display: flex;
  }

  .igs-flex-containe .igs-main2{
      float: left;
      margin-left: 400px;
      width: 750px;

    }

  .igs-flex-containe > div {
    width: 450px;
    margin: 10px;
    padding: 0px;
   
  }
  .igs-flex-containe .igs-cote2 h2{
      font-weight: bold;
  }
  .igs-flex-containe .igs-cote2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    }
    .igs-flex-containe .igs-cote2 a{
        font-weight: bold;
    }

  /*seconde section*** */

  .igs-grid {
    display: flex;
    flex-wrap: nowrap;}
  .igs-grid-container {
    display: grid;
    grid-template-columns:  auto;
    padding: 10px;
   width: 25%;
   margin: 50px;
  }

  .igs-grid-conteneur1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    height: 300px;
    align-items:center ;
    grid-gap: 5px;
    background: rgb(63, 114, 209);
  }
  .igs-grid-conteneur1 .igs-grid-item1{
    border-radius: 4px;
    background: rgb(63, 114, 209);
    margin-top: 10px;
  }
  .igs-grid-conteneur1 .igs-grid-item1-1{
    background: rgb(63, 114, 209);

  }

  .igs-grid-conteneur1 .igs-grid-item1-1 h4{
    background: rgb(63, 114, 209);

  }
  .igs-grid-conteneur1 .igs-grid-item1-1 p{
    background: rgb(63, 114, 209);

  }
  .igs-grid-conteneur1 .igs-grid-item1-1 a{
    background: rgb(63, 114, 209);

  }

.igs-grid-conteneur .igs-grid-item p{
  display:flex;
  text-align: right;
  justify-content: flex-end;
  }

 
 

  /*seconde section*** */

  .igs-item1 { grid-area: header; }
.igs-item2 { grid-area: main; }
.igs-item3 { grid-area: right; }

.igs-grid-containerd {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 5px;
  padding: 10px;
   margin-right:990px;
}

.igs-grid-containerd > div {
  padding: 20px 10px;
  font-size: 30px;
  margin-right:10px;
}
.igs-grid-containerd .igs-item1{
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}
.igs-grid-containerd .igs-item2{
  line-height:2;
}
.igs-grid-containerd .igs-item3{
  line-height:2;
}

.igs-grid form{
  width: 400px;
  background:rgb(53, 55, 63);
  text-align: center;
}
.igs-grid input{
  width: 300px;
  padding: 10px;
  background:rgb(79, 84, 109);
  border-radius: 5px;

}
.igs-grid select{
  width: 300px;
  padding: 10px;
  background:rgb(79, 84, 109);
  border-radius: 5px;

}
.igs-grid textarea{
  background:rgb(79, 84, 109);
  border-radius: 5px;
  font-weight:none bold;


}
.igs-grid .igs-dernierInput{
  background:none;
  border-radius: none;
  border: 1px solid white;
  padding: 20px;

}
.igs-grid .igs-dernierInput:hover{
  color: rgb(250, 63, 6);
  transition: all 0.3s ease;
}
form{
  padding: 20px;
}